html{
    background-color: #36454F;
    font-family: Josefin Sans;
}

#escudo{
    height: 10em;
    width: 9em;
    margin: auto;
}

#article-login{
    margin-top: 11em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

#article-login input{
    font-family: Josefin Sans;
    font-size: 1rem;
    height: 2em;
    width: 15em;
    align-self: center;
}

#login-texto{
    color: white;
    align-content: center;
    font-size: 1.5rem;
}

#article-login p{
    color: white;
    text-align: center;
}

#article-login button{
    font-family: Josefin Sans;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1rem;
    width: 7em;
    height: 2.5em;
    background-color: white;
    border: solid black 2px;
    cursor: pointer;
}

#article-login button:hover{
    color: white;
    background-color: black;
    border-color: white;
}

#pular {
    display: block;
}

#container {
    display: grid;
    gap: .8em;
    grid-template-columns: auto;
    margin: auto;
    max-width: 1400px;
}

#container > article{
    background-color: white;
    border: solid black 5px;
    margin: auto;
    padding: .5rem;
    cursor: pointer;
    width: min-content;
    text-align: center;
}

#titulo {
    font-size: 1.6rem;
}

#container h1{
    height: 6rem;
    align-content: center;
}

#container img{
    width: 220px;
    height: 487px;
    object-position: 100%;
    object-fit: none;
}

#container > article:hover{
    background-color: black;
    color: white;
    border-color: white;
}

#header{
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 1.5em;
}

#titulo{
    flex-grow: 1;
    margin-left: 0.5em;
}


#logout{
    font-family: Josefin Sans;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: solid white 2px;
    height: 3em;
    width: 5em;
    align-self: center;
    margin-right: 0.5em;
    cursor: pointer;
}

#logout:hover{
    color: black;
    background-color: white;
    border-color: black;
}

#div-selecao{
    text-align: center;
    margin-bottom: 3em;
}


#selecao{
    font-family: Josefin Sans;
    font-size: 1rem;
    text-align: center;
    height: 4em;
    width: 13em;
    border: solid black 3px;
}

#grid-opcoes{
    display: none;
}

#caixa-texto{
    font-family: Josefin Sans;
    border: solid black 3px;
    text-align: center;
    font-size: 1.5rem;
    width: 16em;
    height: 2em;
    max-width: 80%;
    margin-bottom: 2em;
}

#caixa-texto:focus, #selecao:focus{
    background-color: black;
    color: white;
    border-color: white;
}

#div-filtro{
    text-align: center;
}

@media screen and (min-width: 768px) {

    #article-login{
        flex-direction: row;
        justify-content: center;
    }

    #pular{
        display: none;
    }

    #div-img{
        text-align: center;
    }

    #div-input{
        margin-left: 10%;
        text-align: center;
        align-self: flex-end;
    }

    #container {
        grid-template-columns: auto auto auto;
    }

    #selecao{
        display: none;
    }

    #grid-opcoes{
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        justify-content: center;
        gap: 5em;
    }

    #masculino, #feminino, #todos{
        font-family: Josefin Sans;
        position: relative;
        font-size: 1.2rem;
        width: 9.5em;
        height: 3.5em;
        color: black;
        background-color: white;
        border: solid black 3px;
        max-width: 100%;
        cursor: pointer;
        
    }

    #masculino:hover, #feminino:hover, #todos:hover{
        color: white;
        background-color: black;
        border-color: white;
    }

}

@media screen and (min-width: 1024px){
    #container {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1300px) {
    #container {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media screen and (min-width: 1400px) {
    #container {
        grid-template-columns: auto auto auto auto auto;
    }
}